// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.es-body__section__button
  min-width: 54px
  height: 32px
  padding: 0 8px
  transition: background .2s ease-in-out
  border: 0
  border-radius: 2px
  outline: 0
  background: $button-background
  color: $button-color
  font-size: 13px
  font-weight: 500
  text-transform: uppercase
  box-shadow: $button-shadow
  cursor: pointer
  appearance: none

  &:active
    background: $button-active

  &:focus
    background: $button-focus
